awesome-slugify==1.6.5
Django==1.10.1
django-braces==1.11.0
django-password-reset==1.0
Markdown==2.6.8
olefile==0.44
Pillow==4.2.1
pytz==2017.2
redis==2.10.5
regex==2017.7.11
sorl-thumbnail==12.3
Unidecode==0.4.21
