{% load staticfiles %}
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="LOGO" src="{% static  'images/logo.gif'%}" width="40px" height="40px" style="margin-top: -10px" />
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" role="tablist">
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href='{% url 'blog:blog_title' %}'>BLOG</a></li>
                <li><a href='{% url 'article:article_titles' %}'>文章</a></li>
                <li><a href='{% url 'image:falls_images' %}'>美图</a></li>
                <li><a href='{% url 'course:about' %}'>关于</a></li>
            </ul>

            <ul class='nav navbar-nav navbar-right' style="margin-right: 10px">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          {{ user.username }}
                          <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
                          <li><a href="{% url 'account:my_information' %}">个人信息</a></li>
                      </ul>
                    </li>
{#                    <li><a href='#'>{{ user.username }}</a></li>#}
                    <li><a href='{%  url 'article:article_column' %}'>后台管理</a></li>
                    <li><a href='{%  url 'account:user_logout' %}'>Logout</a></li>
                {% else %}
                    <li><a href='{% url 'account:user_login' %}'>LOGIN</a></li>
                    <li><a href='{% url 'account:user_register' %}'>Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>



